<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="copyrigh">
                    <div color: inherit;>
                        <br />Вы можете найти нас по адресу: ул. Юбилейная 25в помещение №17.
                        <br />Режим работы будни 8:00 - 20:00, сб/вс 8:00-17:00
                        <br />&copy;Строй-крепёж.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>